	* {
		margin:0;
		padding: 0;
	
		list-style: none;


	}

.header{
	width: 100%;
	display: inline-block;
  border-bottom: 1px solid #ddd;
  height: 50px;
}
.zing{
	width: 1100px;
	display: block;
	margin: 0 auto;
	vertical-align: top;


}
/*----*/



.xuatba{
	float: left;
}
.logo{
	display: inline-block;
	width:100px;
	float: left;
	margin-right: 10px;

}
.logo span{
	font-size: 8px;
	display:block;
	font-weight: bold;
	line-height: 0px;

}
.logo img{
	display:inline-block;
	width: 93px;
	height: 29px;
	margin-top: 3px;


}
.xuatba li{
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	margin-right: 12px;
	margin-top: 17px;
	font-weight: bold;
	padding-bottom: 11px;

}
.time img{
	width: 30px;
	    margin-top: 19px;
    display: inline-block;
    position: absolute;
    top: 50px;
}
/*--------*/
.xuatba li:hover{
	color: blue;
	border-bottom: 5px solid blue;
}
/*------*/
.icon{
	display: inline-block;
	float: right;
}
.icon img{
	width: 92px;
	height:25px;
	margin-bottom: -26px;
}
div.ticker{
	width: 100%;
	display: inline-block;
	margin-bottom: 10px;
	margin-top: 5px;
}
ul.ticker1 img {
	margin-right:20px;


}
/*----*/
.cpm{
	vertical-align: top;
}
li.ticker2{
	display: inline-block;
	float: right;
	margin-top: 4px;

}
.w310{
	width: 310px;
	display: inline-block;
	float: left;
}
.ttnew{
	width: 100%;
	display: inline-block;
	border-bottom: 1px solid black;
}
.ttnew img{
	width: 120px;
	height: 80px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.ttnew p{
	display: block;
	overflow: hidden;
	font-weight: bold;
	margin-top: 10px;
	/*-----*/
}
.ttnew1{
	width: 100%;
	display: inline-block;
}
.ttnew1 img{
	width: 120px;
	height: 80px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.ttnew1 p{
	display: block;
	overflow: hidden;
	font-weight: bold;
	margin-top: 10px;

}
.w493{
	width: 492px;
	display: inline-block;
}
.center{
	width: 100%;
	display: block;
	margin-left: 15px;
	margin-right: 10px;
	/*margin-bottom: 10px;*/
}
.center img{
	width: 492px;
	height: 328px;
	float: left; 
}
.center p{
	margin-bottom: 15px;
	margin-top: 10px;
	font-size: 32px;
	font-weight: bold;
}
.center h4{
	margin-top: 10px;

}
.w257{
	width: 257px;
	display: inline-block;
	float: right;
}
.right img{
	width:100%;
	float:right;
	margin-top: 10px;
	margin-bottom: 10px;
}
.right h3{
	margin-bottom: 10px;
	display: block;
}
.zing1{
	width: 1100px;
	display:block;
	margin: 0 auto;
	background-color: #ffde76;
	margin-top: 20px;
	padding-top: 10px;
	padding: 30px;	

}
.video{
	width: 100%;
	display:inline-block;
	margin-bottom: 20px;
}
.multi{
	display: inline-block;

}
.multi h3{
	font-size:23px;
}
ul.multi1 li{
	display: inline-block;
	font-weight: bold;
	margin-left: 17px;
	margin-bottom: 15px;
}
.multi1{
	display: inline-block;
	margin-left: 30px;
}

/*--------*/
}
.video1{
	width: 100%;
	display: inline-block;
}
.hinh1 img{
	display: inline-block;
	width: 539px;
	height: 359px;
	float: left;
	margin-right: 20px;
	margin-bottom: 15px;
}
.hinh2{
	width: 258px;
	display: inline-block;
	margin-right: 10px;
}
li.hinh2 img{
	display: inline-block;
	width: 258px;
	height: 172px;
}
.hinh2 p{
	display: inline-block;
	font-size: 19px;
	font-weight: bold;
	margin-left: 19px;
}
.hinh3{
	width: 100%;
	display: inline-block;
	margin-top: 10px;
	margin-right: 10px;
}
.hinh3 li{
	width: 258px;
	height: 173px;
	display: inline-block;
	margin-right: 18px;

}
.hinh3 li:last-child{
	margin-right: 0;
}
.anh1 img {
	width: 258px;
	height: 172px;
	display: inline-block;
}
li.hinh1 p {
    font-size: 34px;
    font-weight: bold;
    position: relative;
    top: 11px;
    left: -499px;
    color: #fff;
}
.books{
	width: 100%;
	display: inline-block;
	margin-top: 25px;
}
ul .book{
	width: 100%;
	display: inline-block;
}
ul.book li{
	width: 203px;
	display: inline-block;
	margin-right: 13px;

}
ul.book li img{
	width: 203px;
	height: 135px;
	margin-top: 17px;
}
ul.book li p{
	font-size: 17px;
	font-weight: bold;
}
/*-------*/
.w780{
	width: 780px;
	display: inline-block;
}
.dangnhap{
	width: 100%;
	display: inline-block;
	margin-top: 20px;
}
.dangnhap p{
	font-size: 17px;
	margin-bottom: 15px;
}
ul.dangnhap1{
	width: 100%;
	display: inline-block;
}
.dangnhap2 img{ 
width: 257px;
float: left;
margin-right: 14px;	
margin-bottom: 15px;
}
.dangnhap2 h3{
	font-size: 23px;
	margin-bottom: 5px;
}
.dangnhap2 span{
	font-size: 12px;
	margin-top: 20px;
}
.dangnhap2 p{
	font-size: 15px;
	margin-top: 10px;
}
/*-----*/
.w299{
	width: 299px;
	display: inline-block;
	float: right;
}
.logoqc img{
	width: 299px;
	height: 600px;
	float: right;
	margin-left: 10px;
	margin-top: 20px;
}
.w299{
	width: 299px;
	display: inline-block;
	float: right;
}
.chungkhoang {

	display: inline-block;
	margin-right: 15px;
	text-align: center;
}
.tigia{

	display: inline-block;
}
/*----------*/
.magazine{
	width: 100%;
	display: inline-block;

}
.magazine h3{
	margin-bottom: 15px;
	margin-top: 10px;
}
.lens {
	width: 260px;
	display: inline-block;
	height: 435px;
	overflow: hidden;
	margin: 0 auto;
	margin-right: 10px;
	position: relative;
}
.lens:hover h2{
	color: yellow;
}
.lens:hover i{
	color: yellow;
}
i.fas{
    font-weight: 900;
    position: absolute;
    bottom: 21px;
    background: red;
    z-index: 99;
    left: 125px;
}
.lens img{
	width: 100%;
	height: 100%;
	display: inline-block;
	transition: transform.2s;
}

.lens img{
	max-width: 100%;
	transition: transform 1.5s;
}

.lens:hover img{
	
	transform: scale(1.3);
}
.lens h3{
	/*position: relative;
    top: -10px;
    left: 82px;
    background: blue;
    padding: 3px;
    width: 67px;
    text-align: center;*/
   position: absolute;
    top: -10px;
    left: 82px;
    background: blue;
    padding: 3px 9px;
    /* width: 67px; */
    text-align: center;
    display: inline-block;
    -webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.lens h2{
	 position: absolute;
    text-align: center;
    color:blue	;
    top: 158px;
    left: 0px;
}
.camera img{
	position: absolute;
	top: 0px;
	left: 0px;

}
.xuatban{
	display: inline-block;
	width:258px;
	margin-right: 10px;
	vertical-align: top;

}
.xuatban h2{
	width: 100%;
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 15px;
}
.xb1{
	width: 100%;
	display:inline-block;
}
.xb1 img {
	width: 258px;
	height: 172px;
}
.xb1 p{
	font-weight: bold;
	margin-bottom: 21px;
}
.xb2{
	display: inline-block;
	width: 100%;

}
.xb2 img {
	width: 104px;
	height: 69px;
	float: left;
	margin-right:8px;
	margin-bottom: 23px;
}
.xb2 span{
	font-size: 15px;
	font-weight: bold;
}
.vid{
	width: 100%;
	display: inline-block;
}
.vid h2{
	width: 100%;
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 15px;
}
.vid1 li{
	display: inline-block;

}
.vid1 img{
	width: 800px;
	height: 449px;
	float: left;

}
.rightt{
	width: 281px;
	display: inline-block;
	float: right;
}
.rightt img{
	width: 120px;
	height: 80px;
	margin-right: 5px;
	margin-bottom: 7px;
	margin-top: 4px;

}
.rightt p{
	font-weight: bold;
}
.amthuc{
	width: 351px;
	display: inline-block;
	vertical-align: top;

}
.amthuc h2{
	font-size: 15px;
	margin-top: 15px;
	margin-bottom: 10px;
	color: #00b6af;
}
.amthuc1{
	width: 100%;
	display: inline-block;
}
.amthuc1 li{
	display: inline-block;
	width: 100%;
}
.amthuc2 img{
	width: 120px;
	height: 80px;
	margin-right: 8px;
	float: left;
}
.amthuc2 span{
	font-size: 16px;
	vertical-align: top;
	font-weight: bold;
}
.amthuc3{
	display: block;
	width: 100%;
}
.amthuc3 p{
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 23px;
	margin-top: 14px;
	border-top: 1px dashed grey;
	padding-top: 4px;
}
.end{
	width: 278px;
	display: inline-block;
	float: left;
}
.end p{
	font-size: 13px;

}
.endgame{
	width: 93px;
	height: 29px;
	display: block;
}
.end1{
	float: right;
	margin-top: 43px;
}
.end1 p{
	font-size: 13px;



