	* {
		margin:0;
		padding: 0;
	
		list-style: none;
}
.zing_new{
	width: 1100px;
	display: block;
	margin: 0 auto;
	background-color: red;
	padding: 30px;
}
.zing_new1{
	width: 100%;
	display: inline-block;
}
.muti{
	display: inline-block;
}
.muti h3{
	display: inline-block;
	font-size: 23px;
	margin: 20px;
}
.muti_new{
	display: inline-block;
}
.muti_new li{
	display: inline-block;
	margin-right: 30px;
	font-weight: bold;
}

}